@use "../helpers/variables";

.accordion {
  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.accordion-item {
  $self: &;

  padding: 20px 24px;
  box-shadow: 0px 0px 30px 0px rgba(variables.$color_main, 0.05);
  border-radius: variables.$border_radius_sm;
  cursor: pointer;


  @media (max-width: variables.$breakpoint_md) {
    padding: 16px;
  }

  &__head {
    position: relative;
    padding-right: 25px;
  }

  &__icon {
    background-color: transparent;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
    right: -10px;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition:
      background-color variables.$transition,
      fill variables.$transition,
      transform variables.$transition;

    #{$self}:hover &, #{$self}--has-open &  {
      background-color: variables.$color_primary;
      fill: variables.$color_light;
      transform: rotate(90deg);
    }
  }

  &__content {
    font-size: 15px;
    line-height: 20px;
    color: variables.$color_main;
    padding-top: 20px;
    display: none;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin: 0;

    @media (max-width: variables.$breakpoint_md) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__text {
    font-size: 13px;
    margin-top: 4px;
    color: variables.$color_secondary;
    line-height: 18.2px;
    display: block;
    max-width: 400px;
  }
}
