$font-family: 'Museo Sans Cyrl', sans-serif;

$color_main: hsl(0, 0%, 10%);
$color_primary: hsl(139, 55%, 47%);
$color_secondary: hsl(0, 0%, 58%);
$color_light: hsl(0, 0%, 100%);
$color_light_90: hsl(0, 0%, 98%);
$color_third: hsl(212, 67%, 75%);

$border_radius_lg: 40px;
$border_radius_sm: 16px;
$border_radius_xs: 12px;
$border-radius_xxs: 6px;

$transition: .3s ease-in-out;

$breakpoint_lg: 991px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;
